@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Ubuntu&display=swap');

@primary-color: #67c4a5;
@secondary-color: #bfbfbf;
@primiary-family: 'Poppins', sans-serif;
@secondary-family: 'Ubuntu', sans-serif;
@gradient-start: #0a000f;
@gradient-end: #4d0085;
@button-color: #41046a87;
@purple-variant: #2c1127;
@card-background: #1e0032;
@card-background-hover: lighten(@card-background, 15%);

body {
  background: linear-gradient(135deg, @gradient-start 0%, @gradient-end 100%);
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: @secondary-color;
  margin: 0px; 
}

h1 {
  font-family: @primiary-family;
  color: @primary-color;
  font-size: 35px;
  margin-top: 10px;
}

h2 {
  font-family: @primiary-family;
  color: @primary-color;
  font-size: 30px;
  margin-top: 10px;
}

h3 {
  font-family: @secondary-family;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 17px;
  margin-top: 0px;
}

p {
  font-family: @secondary-family; 
  font-size: 17px; 
  line-height: 27px;
  margin:30px;
}

.buttons {
  display: flex;
  gap: 10px;
  
  @media only screen and (max-width: 390px){
    justify-content: center;
  }
}

.button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: @purple-variant;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 0;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  
  &:hover {
      background-color: #67c4a5;
      color: #0c0012;
  }
  &:focus, &:active { 
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
  }
} 

aside {
  color: @primary-color;
  background: @gradient-end;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-block: 1rem;
  transition: all 300ms;
  width: 4rem;

  .sidebar-head {
    position: relative;
  }

  .sidebar-toggle {
    padding-inline-start: 1rem;
  }

  h4 {
    padding-block-end: 0rem;
    padding-inline-start: 1rem;
    user-select: none;
    pointer-events: none;
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.125ch;
    transition: opacity 300ms;
  }

  h4.transparent {
    opacity: 0; 
  }

  button {
    cursor: pointer;
    position: absolute;
    transition-duration: 300ms;
    transition-property: transform, left, top;
    left: 0;
    top: 1rem;
    transform: translateX(0%) translateY(2rem) rotateZ(0deg);
  }

  button.toggle-button {
    left: 100%;
    top: 0;
    transform: translateX(-100%) translateY(0rem) rotateZ(180deg);
  }

  .fade-enter-active,
  .fade-leave-active {
    transition-property: opacity, transform;
    transition-duration: 300ms;
  }

  .fade-enter,
  .fade-leave-to {
      opacity: 0;
      transform: translateX(-100%);
  }

  a.router-link-exact-active::after {
    content: '';
    position: absolute;
    right: 0;
    width: 0.25rem;
    height: 100%;
    background-color: @secondary-color;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block-end: 1rem;
    margin-top: 15px;
  }

  img {
    object-fit: contain;
  }

  li {
    min-width: fit-content;
    cursor: pointer;
    padding-inline-start: 1rem;
    
    &:hover {
      color: @primary-color;
      background-color: @gradient-end;
    }

    a {
      display: flex;
      align-items: center;
      column-gap: 0.75rem;
      position: relative;
      padding-block: 0.5rem;
    }
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }

  @media only screen and (max-width: 390px) { 
    display: none;
  }
}

aside.open {
  width: 12rem;
}

.button:disabled,
.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.header {
  background: #0d0014b8;
  padding: 26px 0px;

  .header-container {
    width: 1180px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-self: center;

    @media only screen and (max-width: 820px) { 
      width: 820px;
      height: unset;
    }

    @media only screen and (max-width: 768px) { 
      width: 768px;
      height: unset;
    }

    @media only screen and (max-width: 390px) { 
      width: 390px;
      display: block;
      text-align: center;
      height: unset;
    } 

    .left-grid {
      width: 60%; 

      @media only screen and (max-width: 820px) {
        width: 50%;
      }

      @media only screen and (max-width: 768px) { 
        width: 50%;
      }

      @media only screen and (max-width: 390px) { 
        width: 100%!important;
      }

      h1 {
        margin-bottom: 8px;
      }

      p {
        margin-top: 0px;
        margin-left: 0px;
      }
    }

    .right-grid {
      width: 40%; 
      text-align: center;
      position: relative;
 
      @media only screen and (max-width: 820px) {
        width: 50%;
      }

      @media only screen and (max-width: 768px) { 
        width: 50%;
      }

      @media only screen and (max-width: 390px) { 
        display: none;
      }

      img { 
        width: 224px;
      }
    } 
  }
} 

.about-section, .services-section, .team-section {
  margin: 15px 0px;
}

.about-section { 
  @media only screen and (max-width: 390px) { 
    margin-top: 0px;
    text-align: center;
  }
  .about-container {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    gap: 36px;
    justify-content: center; 

    @media only screen and (max-width: 820px) { 
      width: 820px;
    }

    @media only screen and (max-width: 768px) { 
      width: 768px;
    }

    @media only screen and (max-width: 390px) { 
      width: 390px;
      display: block;
    }

    .left-grid { 
      h2 {
        margin-bottom: 10px;
        margin-top: 0px; 
        margin-top: 10px;
      }
      p {
        margin-left: 0px;
      }
    }

    .right-grid {
        img {
            // width: 400px;
            @media only screen and (max-width: 390px) { 
              width: 390px;
            }
        }
    }
  } 
}

.team-container { 
  width: 1180px;
  margin: 0 auto; 

  @media only screen and (max-width: 820px) { 
    width: 820px;
  }  

  @media only screen and (max-width: 768px) { 
    width: 768px;
  }

  @media only screen and (max-width: 390px) { 
    width: 390px;
    text-align: center;
  }

  .team-members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-row-gap: 15px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;

    @media only screen and (max-width: 820px) { 
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 768px) { 
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width: 390px) {
      grid-template-columns: repeat(1, 1fr);
    } 

    .team-member {
      width: 90%;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
      background: @purple-variant;
      color: @secondary-color; 
      @media only screen and (max-width: 390px) {
        width: 60%;
      }

      .hexagon {
          width: 150px;
          margin: 0 auto;
      }
      
      img {
        width: 100%;
        max-width: 150px;
        height: auto;
        // clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
        // margin-bottom: 10px;
        // border: 0px solid mix(@primary-color, @gradient-start, 25%);
      }
  
      &:hover {
        img {
          border-color: @primary-color;
        }
  
        .member-name {
          color: @primary-color;
        }
      }

      &:hover {
        img {
          border-color: @primary-color;
        }

        .member-name {
          color: @primary-color;
        }
      } 
      .member-name {
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 10px;
      }

      .member-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: #888;
        margin-bottom: 5px;
        margin-top: 0px;
      }

      .member-bio {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 10px;
      }
    }
  }
}

.services-section{
  .services-container {
    width: 1180px;
    margin: 0 auto; 

    @media only screen and (max-width: 820px) { 
      width: 820px;
    }

    @media only screen and (max-width: 768px) { 
      width: 768px;
    }

    @media only screen and (max-width: 390px) { 
      width: 390px;
      text-align: center;
    }

    .services-grid {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
      width: 100%;
      margin: 40px auto;  
      
      @media only screen and (max-width: 820px) { 
        grid-template-columns: repeat(2, 1fr);
        width: 820px;
      } 

      @media only screen and (max-width: 768px) { 
        grid-template-columns: repeat(2, 1fr);
        width: 768px;
      } 

      @media only screen and (max-width: 390px) {
        width: 390px;
        grid-template-columns: repeat(1, 1fr);
        margin: 20px auto;
      }

      .service-card {
        background-color: @purple-variant;
        position: relative;
        width: 250px;
        height: 250px;

        &:hover {
          .heading {
            opacity: 0;
          }

          .text {
            opacity: 1;
          }

          .icon {
            opacity: 0;
          }  
        }
        .icon  {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          background-color: @purple-variant;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: opacity 0.5s;

          img {
            width: 50%;
            height: auto;
            margin-top: -30px;
          }
        }
        .text {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 1rem; 
          opacity: 0;
          transition: opacity 0.5s;
        } 

        .heading {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding: 1rem; 
          text-align: center;
          transition: opacity 0.5s;
        }

        p {
          margin: 10px
        }
      } 

      .fade-in {
        opacity: 1;
      }
      .service { 
        margin: 0 auto;
        padding: 10px 20px;
        text-align: center;
        background: @purple-variant;
        color: #bfbfbf;

        img {
          width: 125px;
          margin-bottom: 17px;
        }

        p {
          font-size: 15px;
          line-height: 20px;
          color: #747474;
        }
      }
    }
  }  
} 

footer.footer {
  background: linear-gradient(135deg, #0a000f 0%, #4d0085 100%);
  color: #ffffff;
  padding: 2rem 0;
  position: relative;  

  .logo {
    width: 143px;
    margin-top: 15px;
  }

  @media only screen and (max-width: 820px) {
    .footer-img {
      left: 0%;
      top: 110px;
    }
  }

  @media only screen and (max-width: 390px) {
    .footer-img {
        width: 41%;
        padding: 0 1rem;
        position: absolute;
        right: 0%;
        bottom: 120px;
        left: unset;
        top: unset;
    }
  }
  .footer-container {
    width: 1180px;
    margin: 0 auto;
    text-align: center; 

    @media only screen and (max-width: 820px) { 
      width: 820px;
    } 

    @media only screen and (max-width: 768px) { 
      width: 768px;
    }

    @media only screen and (max-width: 390px) { 
      width: 390px;
      text-align: left;
    }

    .content {
      text-align: left;
    }

    .footer-grid {
      display: flex;
      justify-content: space-between; 
      gap: 30px;

      @media only screen and (max-width: 390px) {
        display: block;
        justify-self: start;
        padding-left: 20px;

        .left-col {
          margin-bottom: 10px;
        }
      
        .right-col {
          margin-bottom: 10px;
          text-align: left;
        }

        .middle-col ul {
          padding-left: 0px;
        }
      }
    }

    a {
      color: #fff;
    }

    p {
      margin-bottom: 0px;
    }
  }
} 